{%extends 'blog/basic.html'%}
{%block title%}Blog{%endblock %}
{%block body%}

<div class="container mt-3">
  <div class="row mb-2">
    {% for i in allblogs %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{i.category}}</strong>
          <h3 class="mb-0" id="{{i.post_id}}">{{i.title}}</h3>
          <div class="mb-1 text-muted">{{i.pub_date}}</div>
          <p class="card-text mb-auto">{{i.heading0}}</p>
          <a href="/blog/blogpost/{{i.post_id}}" class="stretched-link" >Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <rect width="100%" height="100%" fill="#55595c"><img class="bd-placeholder-img" src="/media/{{i.thumbnail}}"
              width="200" height="250" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></rect>
          <!--<svg class="bd-placeholder-img" width="200" height="250" xmlns="/media/{{i.thumbnail}}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title></title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>-->
        </div>
      </div>
    </div>
    {%if forloop.counter|divisibleby:2%}
  </div>
  <div class="row mb-2">
    {%endif%}
    {%endfor%}
  </div>
</div>
<div class="container">
{% load static %}
<img src="{% static "shop/test.jpg" %}" alt="My image">
</div>

{%endblock %}

{%block js%}
<script>
  console.log(allblogs);
  allblogs = JSON.parse(allblogs);
  console.log(allblogs)
</script>
{%endblock%}